<title>Encode Your Name</title>
<h1>Encode Your Name !</h1>
<b>Description</b>
<br>
1. First parameter takes Integer Array.
<br>
2. Second parameter takes Integer Array.
<form action="compute" method="post">
<textarea name="input1" rows="10" cols="30"></textarea>
<textarea name="input2" rows="10" cols="30"></textarea>
<br>
3. Third parameter takes your name.
<br>
4. Fourth parameter takes your lastname.
<br>
<textarea name="input3" rows="10" cols="30"></textarea>
<textarea name="input4" rows="10" cols="30"></textarea>
<br>
<input type="submit">
<br>
Result is your name and lastname with changed ASCII numbers in array.
<br>
(Encoded name with given arrays)
<br>
Result is { <b>{{result}}</b> }
</form>
