<title>My App</title>
<h1>String Search</h1>
<b>Description</b>
1. First parameter takes Integer Array.
2. Second parameter takes Integer Array.
<form action="compute" method="post">
<textarea name="input1" rows="10" cols="30"></textarea>
<textarea name="input2" rows="10" cols="30"></textarea>
<br>
3. Third parameter takes your name.
4. Fourth parameter takes your lastname.
<br>
<textarea name="input3" rows="10" cols="30"></textarea>
<textarea name="input4" rows="10" cols="30"></textarea>
<br>
<input type="submit">
Result is your name and lastname with changed ASCII numbers in array.
(Encoded name with given arrays)
Result is {{result}}
</form>
